<ion-header>
  <ion-toolbar>
    <ion-title>view-uploads</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-sm-12 col-md-6>
          <p *ngIf="loading===true">Loading...</p>
          <ion-card  *ngFor="let file of files">
              <ion-card-header>
                  <ion-card-title>{{file.title}}</ion-card-title>
                  <span>{{file.course.subject}} > {{file.course.code}} : {{file.course.name}}</span>
              </ion-card-header>
              <ion-card-content>
                  <p>{{file.desc}}</p>
              </ion-card-content>
            <ion-button fill="block" (click)="download(file.content)">download</ion-button>
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
