<ion-row>
  <ion-col>
    <ion-card *ngFor="let yr of subjects">
      <ion-card *ngFor="let subj of yr.subjects">
        <ion-card-header>
          {{subj.name}}
        </ion-card-header>
        <ion-list>
          <ion-item *ngFor="let course of subj.courses">
            <ion-label text-wrap>
              <h3>
                {{course.name}}
              </h3>
              <ion-text text-muted>
                {{course.code}}
              </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-card>
  </ion-col>
</ion-row>